<%- include ./partials/header.ejs %>

<form method="post" action="/login">
  <input type="email" name="email" placeholder="email">
  <input type="password" name="password" placeholder="password">
  <input type="text" name="role" placeholder="role">
  <input type="submit" value="Login">
</form>
<% if(email) { %>
  <div>Email: <%= email %> already exist please login</div>
<% } else if(wrongPassword) { %>
  <div>Invalid email or password, please try again</div>
<% } else if(loggedOut) { %>
  <div>You are logged out</div>
<% }%>
<%- include ./partials/footer.ejs %>