<nav>
  <a href="/">Home</a>
  <%- include form.ejs %>
  <% if(signup) {%>
    <a href="/login">Login</a>
  <% } else if(home){ %>
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
  <% } else if(welcome && access === 'admin'){ %>
    <a href="/contacts/new">New Contact</a>
    <a href="/logout">Logout</a>
  <% } else if(welcome){ %>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a href="/signup">Sign Up</a>
  <% } %>
</nav>
