<nav>
  <a href="/">Home</a>
  <%- include form.ejs %>
  <% if(locals.signup) {%>
    <a href="/login">Login</a>
  <% } else if(locals.home){ %>
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
  <% } else if(locals.welcome && locals.access === 'admin'){ %>
    <a href="/contacts/new">New Contact</a>
    <a href="/logout">Logout</a>
  <% } else if(locals.welcome){ %>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a href="/signup">Sign Up</a>
  <% } %>
</nav>
